---
layout: default
title: "Jhamut.com"
---

<div class="home">
  <div class="postList">
    {% for post in site.posts limit:1 %}
      <article class="homeArticle firstPost">
        <div class="postHeader">
          <span class="listPostDate">
            {% assign d = post.date | date: "%-d" %}
            {{ post.date | date: "%B" }} 
            {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, 
            {{ post.date | date: "%Y" }}
          </span>
          <h1>
            <a class="postLink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
        </div>
        {% if post.featureImage %}
        <div class="featureImageWrapper">
          <img src="/images/{{ post.featureImage }}" class="featureImage" />
        </div>
        {% endif %}
        <div class="postContent">
          <p class="exerpt">
          {{ post.content | strip_html | truncatewords: 50 }}
          </p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btnDefault">more...</a>  
        </div>  
      </article>
    {% endfor %}
    {% for post in site.posts offset:1 %}
      <article class="homeArticle">
        <div class="postHeader">
          <span class="listPostDate">
            {% assign d = post.date | date: "%-d" %}
            {{ post.date | date: "%B" }} 
            {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, 
            {{ post.date | date: "%Y" }}
          </span>
          <h2>
            <a class="postLink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </div>
        <div class="postContent">
          <p class="exerpt">
            {{ post.content | strip_html | truncatewords: 50 }}
          </p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btnDefault">more...</a> 
        </div>  
      </article>
    {% endfor %}
  </div>
</div>
