$green: #A2C340;
$black: #48484a;

@mixin transition ($defaultTransition: background-color 0.2s ease-in) {
	-webkit-transition: $defaultTransition;
	-moz-transition: $defaultTransition;
	-ms-transition: $defaultTransition;
	-o-transition: $defaultTransition;
	transition: $defaultTransition;
}

@mixin transform ($defaultTransform: rotate(45deg)) {
	-webkit-transform: $defaultTransform;
	-moz-transform: $defaultTransform;
	-ms-transform: $defaultTransform;
	-o-transform: $defaultTransform;
	transform: $defaultTransform;
}