@import "dev";

.logo {
    width: 2em;
    &:hover {
        .logoBackPoly {
            fill: $green - 20;
        }
    }
}
.logoBackPoly {
    fill: $green;
    @include transition(fill .3s ease);
}


.header {
    width: 100%;
    padding: 0 1em;
    margin-bottom: 2em;
    overflow: hidden;
}
.home, .post {
    margin-bottom: 5em;
}
.siteFooter {
    color: $black + 30;
    padding: 0 1em;
}
.copyright {
    font-size: 0.9em;
}
.aboutMeLink {
    float: right;
    margin-top: 1em;
    cursor: pointer;
    width: 1.8em;
    position: relative;
    z-index: 110;
    span {
        display: block;
        background-color: $green;
        margin-bottom: 4px;
        height: 4px;
        width: 100%;
        @include transition((
            background-color .3s ease, 
            height .3s ease, 
            transform .5s ease, 
            margin-top .5s ease,
            opacity .3s ease
            ));
        &:last-child {
            margin-bottom: 0;
        }
    }
    &:hover {
        span {
            background-color: $green - 20;
        }
    }
}
.flyout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 2.5em 2em 2em 2em;
    line-height: 1.4em;
    @include transition(top .4s ease);
    z-index: 100;
}
.flyoutInner {
    opacity: 0;
    line-height: 1.4em;
    @include transition(opacity .3s ease .4s);
    p {
        font-size: 1.6em;
        margin-bottom: 0;
    }
}
.flyoutExpanded {
    top: 0;
    .flyoutInner {
        opacity: 1;
    }
}
.closeFlyout {
    position: fixed;
    right: 1em;
    top: 0;
    .menu3 {
        opacity: 0;
    }
    .menu1 {
        @include transform(rotate(225deg));
        margin-top: 0.5em;
    }
    .menu2 {
        @include transform(rotate(-225deg));
        margin-top: -0.5em;
    }
}
/* POST LIST */

.homeArticle {
    margin-bottom: 3em;
}
.postLink {
    color: $black;
    &:hover {
        text-decoration: underline;
        color: $black - 20;
    }
}
.listPostDate {
    font-size: 0.85em;
    color: $black + 30;
    margin-bottom: 0.5em;
    display: block;
}
.featureImage {
    max-width: 100%;
    margin-bottom: 1em;
}
.postHeader {
    padding: 0 1em;
}
.firstPost, .post {
    .postHeader {
        text-align: center;
    }
}
.postContent {
    padding: 0 1em;
}
.contentFigure {
    margin-bottom: 1em;
    p {
        margin-bottom: 0;
    }
    figcaption {
        text-align: center;
        color: $black + 50;
    }
}
.contentImage {
    max-width: 100%;
}

/* BUTTONS */

.btnDefault {
    color: #fff;
    background-color: $green;
    padding: 0.3em 0.5em;
    font-family: 'kreonregular', arial, sans-serif;
    display: inline-block;
    @include transition(background-color .3s ease);
    &:hover {
        background-color: $green - 20;
        color: #fff;
        text-decoration: none;
    }
}