@media screen and (min-width: 43.75em) /* 700px */ {
	h1 {
		font-size: 2.8em;
	}
	p {
		font-size: 1.2em;
	}
	.header, .postHeader, .postContent {
		padding: 0 1.5em;
	}
	.listPostDate {
		font-size: 1em;
	}
	.homeArticle {
		margin-bottom: 5em;
	}
	.btnDefault {
		font-size: 1.1em;
	}
	.flyoutInner {
		p {
			font-size: 1.8em;
		}
	}
	.closeFlyout {
		right: 1.5em;
	}
	.siteFooter {
		padding: 0 1.5em;
	}
}
@media screen and (min-width: 56.25em) /* 900px */ {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.8em;
	}
	.header, .postContent, .postHeader, .siteFooter {
		width: 37.5em;
		position: relative;
		margin: auto;
		padding: 0;
	}
	.header, .siteFooter {
		margin-bottom: 2em;
	}
	.homeArticle {
		overflow: hidden;
	}
	.postList {
		clear: right;
	}
	.featureImageWrapper {
		width: 100%;
	}
	.featureImage {
		margin-bottom: 2em;
	}
	.flyoutInner {
		width: 37.5em;
		position: relative;
		margin: auto;
		p {
			font-size: 1.4em;
		}
	}
	.flyout {
		padding: 2em;
	    height: 10em;
	    position: relative;
	    margin-top: -10em;
	    @include transition(margin-top .4s ease);
	    background-color: $green;	
	    a {
	    	color: #fff;
	    	text-decoration: underline;
	    	&:hover {
	    		color: $black;
	    	}	    
	    }
	}
	.flyoutExpanded {
	    margin-top: 0;
	}
	.closeFlyout {
		position: relative;
		right: auto;
	}
	.home, .post {
	    margin-bottom: 10em;
	}
}
@media screen and (min-width: 68.75em) /* 1100px */ {
	h1 {
		font-size: 5.5em;
	}
	p {
		font-size: 1.4em;
	}
	.postContent, .postHeader, .siteFooter {
		width: 45em;
		position: relative;
		margin: auto;
	}
	.header {
		width: 60em;
		position: relative;
		margin: 0 auto 3em auto;
		padding: 0;
	}
	.firstPost, .post {
		.postHeader {
			width: 60em;
			position: relative;
			margin: auto;
			padding: 0;
		}
		.listPostDate {
			font-size: 1.2em;
		}
	}
	.featureImageWrapper {
		width: calc((100% - 60em) / 2 + 60em);
	}
	.flyoutInner {
		width: 60em;
		p {
			font-size: 1.6em;
		}
	}
	.flyout {
	    height: 9em;
	    margin-top: -9em;
	}
	.flyoutExpanded {
	    margin-top: 0;
	}
}