@media screen and (min-width: 43.75em) /* 700px */ {
	h1 {
		font-size: 2.8em;
	}
	p {
		font-size: 1.2em;
	}
	.header, .postHeader, .postContent {
		padding: 0 1.5em;
	}
	.listPostDate {
		font-size: 1em;
	}
	.homeArticle {
		margin-bottom: 5em;
	}
	.btnDefault {
		font-size: 1.1em;
	}
	.flyout {
		font-size: 2.2em;
	}
	.closeFlyout {
		right: 1.5em;
	}
}
@media screen and (min-width: 56.25em) /* 900px */ {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.8em;
	}
	.header, .postContent, .postHeader {
		width: 37.5em;
		position: relative;
		margin: auto;
	}
	.header {
		margin-bottom: 2em;
	}
	.homeArticle {
		overflow: hidden;
	}
	.postList {
		clear: right;
	}
	.featureImageWrapper {
		width: 100%;
	}
	.featureImage {
		margin-bottom: 2em;
	}
	.flyout {
		font-size: 3em;
	}
}
@media screen and (min-width: 68.75em) /* 1100px */ {
	h1 {
		font-size: 5.5em;
	}
	p {
		font-size: 1.4em;
	}
	.postContent, .postHeader {
		width: 50em;
		position: relative;
		margin: auto;
	}
	.header {
		width: 65em;
		position: relative;
		margin: 0 auto 3em auto;
		padding: 0;
	}
	.firstPost, .post {
		.postHeader {
			width: 65em;
			position: relative;
			margin: auto;
			padding: 0;
		}
	}
	.featureImageWrapper {
		width: calc((100% - 65em) / 2 + 65em);
	}
	.flyoutInner {
		position: relative;
		margin: auto;
		width: 15em;
	}
}